Flask>=2.0
python-telegram-bot[webhooks]>=22.2
pandas>=1.3
xlsxwriter>=3.0
gunicorn>=20.0             # для продакшн-запуска на Render
python-dotenv>=0.19        # если будете хранить ENV-переменные в .env
